<nav class="navbar navbar-dark bg-dark align-items-center">
  <div class="col-md-12">
    <h1 class="text-center text-white">Aplicacion Retail Intercorp</h1>
  </div>
  <a routerLink="/create">Crear Cliente</a>
  <a routerLink="/list">Lista de Cliente</a>
  <a routerLink="/prediccion">Predicciones</a>
  <a routerLink="/kpi">KPI Cliente</a>
</nav>
<div class="container-lg pt-5">
  <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>